#login-form{
    width: 50%;
    margin: 0 auto;
}

#profile{
    button{
        float: right;
    }
    
    &-user{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2em;
        border-bottom: 1px solid #ccc;
        padding: 1em 0;
    
        &-stats{
            text-align: left;
            flex:1;
            margin-left: 2em;
        }
    }
}
